.menu {
    grid-column: 1/2;
}

.number {
    background-color: white;
    margin-left: auto;
    height: var(--svg-height);
    width: var(--svg-width);
    border-radius: var(--corners-6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin-bottom: 12px;
}

.search {
    position: relative;
}

.search input {
    padding: 6px 6px 6px 20px;
    width: 90%;
    border: 0.5px dotted var(--text-secondary);
    border-radius: var(--corners-6);
}

.tasks div, 
.lists div, 
.tags div,
.menu .settings,
.menu .sign-out {
    font-weight: 400;
}

.tasks,
.lists {
    border-bottom: 0.5px dotted var(--text-secondary);    
    padding-bottom: 14px;
}

.tasks .tasks-list,
.lists .list-type {
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}

.tasks .tasks-list > div,
.lists .list-type > div,
.list-type button,
.tags button {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: var(--corners-6);
    padding: 2px;
}

.list-type button,
.tags button {
    border: none;
    background-color: var(--bg-menu);
}

.tags .tag-list {
    display: flex;
    gap: 14px;
    padding: 4px;
    margin-top: 12px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.tags .tag-list > * {
    border-radius: var(--corners-6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    background-color: var(--bg-element);
    border: 0.5px dotted var(--text-secondary);
}

.tasks .tasks-list > div:hover,
.lists .list-type > div:hover,
.list-type button:hover,
.settings:hover,
.sign-out:hover {
    cursor: pointer;
    background-color: var(--bg-element);
    font-weight: bold;
    transition: 0.1s;
}

.tags .tag-list > *:hover {
    transition: 0.1s;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--bg-outer);
}

.settings,
.sign-out {
    display: flex;
    gap: 12px;
    margin-top: -12px;
    padding: 4px;
    border-radius: var(--corners-6);
}