.menu {
    grid-column: 1/2;
    border-radius: var(--corners);
    padding: var(--menu-pad);
    background-color: var(--bg-menu);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: start;
    position: sticky;
    top: 0;
}

.number {
    background-color: white;
    margin-left: auto;
    height: var(--svg-height);
    width: var(--svg-width);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top,
.search {
    margin-bottom: 12px;
}

.search {
    position: relative;
}

.search input {
    padding: 6px 6px 6px 20px;
    width: 90%;
    border: 0.5px dotted var(--text-secondary);
    border-radius: 6px;
}

.menu > div {
    font-weight: 700;
}

.tasks div, 
.lists div, 
.tags div {
    font-weight: 400;
}

.top {
    display: flex;
    justify-content: space-between;
}

.tasks .tasks-list,
.lists .list-type {
    padding: 0.4rem;
    border-bottom: 0.5px dotted var(--text-secondary);    
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}

.tasks .tasks-list > div,
.lists .list-type > div,
.list-type button {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    padding: 2px;
}

.list-type button {
    border: none;
    background-color: var(--bg-menu);
}

.tasks .tasks-list > div:hover,
.lists .list-type > div:hover,
.list-type button:hover {
    cursor: pointer;
    background-color: var(--bg-element);
    font-weight: bold;
    transition: 0.1s;
}

